[Unit]
Description=Incremental Backup Service
After=network.target

[Service]
Type=simple
Environment="SOURCE_DIR=/home/xander/projects/backups/source"
Environment="BACKUP_DIR=/home/xander/projects/backups/target2"
ExecStart=/bin/bash /home/xander/projects/backups/backup_script.sh
User=xander
Group=xander

[Install]
WantedBy=multi-user.target
