# This file programs a systemd service, which is renamed to a logical name and placed in the appropriate directory by `setup.sh`
# This job runs addversion.sh and defines a schedule and all other variable information required to make this project work.
